<div class="container">
  <div class="row">
    <div class="col mt-5 col-xs-6 col-md-6 col-lg-6">
      <h2>Check Password Strength</h2>
      <br>
      <form [formGroup]="passwordForm">
        <div class="form-group">
          <input type="password" formControlName="password" class="form-control" autocomplete="off" placeholder="Password">
          <app-password-strength [passwordToCheck]="passwordForm.value.password"></app-password-strength>
        </div>
        <button type="submit" class="btn btn-primary">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
